body {
  margin: 0;
}

ul {
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: white;
  margin: 0;

  position: fixed;
  top: 0; /* Superior */
  /*bottom: 0;  Inferior */
}

#bloque1 {
  margin-top: 80px;
}

input {
  width: 500px;
}