header {
  text-align: center;
  background-color: #fffbf7;
  padding-top: 70px;
}

header > h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 65px;
  color: #1b6456;
  margin: 0;
  margin-bottom: 10px;
}

header > p {
  font-size: 20px;
  color: #8a8c8d;
}

header > #small-text {
  text-align: center;
  color: #a4a3a2;
  font-weight: 600;
  margin-top: 20px;
}

header > #small-text > small {
  display: block;
}

header > #email-input {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

header > #email-input > input {
  font-size: 15px;
  padding: 18px;
  border: 1px solid #d7d9dc;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}

header > #email-input > input::placeholder {
  color: #a4aab0;
}

header > #email-input > button {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #1b6456;
  background-color: #1b6456;
  color: white;
  font-size: 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

header > img {
  width: 80%;
  margin-top: 70px;
}