nav {
  height: 70px;
  background-color: #fffbf7;
  display: flex;
  justify-content: space-around;
}

nav img {
  width: 55px;
  height: 55px;
}

nav > #logo {
  display: flex;
  align-items: center;
}

nav > #logo > h1 {
  font-size: 35px;
  margin: 0;
  color: #1b6456;
  margin-left: 10px;
  font-family: 'Fira Sans', sans-serif;
}

nav > #menu {
  width: 30%;
}

nav > #menu > ul  {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav > #menu > ul > li {
  font-size: 16px;
  color: #1b6456;
  font-weight: 600;
}

nav > #sign-in {
  display: flex;
  align-items: center;
}

nav > #sign-in > a {
  color: #67b54b;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

nav > #sign-in button {
  font-size: 16px;
  color: white;
  background-color: #67b54b;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  margin-left: 10px;
}