$color-principal: #1100ff;
$altura-caja: 200px;
$ancho-caja: 200px;
$fuente-grande: 30px;
$logo: 'https://www.google.com/url?sa=i&url=https%3A%2F%2Ftentulogo.com%2Fhistoria-del-logo-de-coca-cola%2F&psig=AOvVaw3MpnNxCFCIFjbl_8PamdHB&ust=1643248981975000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPjO9NCpzvUCFQAAAAAdAAAAABAD';