$fuente-roboto: 'Roboto Slab', serif;
$fuente-abril: 'Abril Fatface', cursive;
$fuente-fira: 'Fira Sans', sans-serif;

$verde-feo: #1b6456;
$verde-bonito: #67b54b;
$blanco: white;
$gris-claro: #a4aab0;
$gris: #d7d9dc;
$color-fondo: #fffbf7;
$color-texto: #8a8c8d;
$color-texto-pequeno: #a4a3a2;