/*
  selector {
    propiedad: valor;
    propiedad2: valor2;
  }
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

nav {
  text-align: center;
  height: 70px;
  background-color: #fffbf7;
  padding-left: 50px;
  padding-right: 50px;
}

nav img {
  width: 55px;
  height: 55px;
}

/*
  Selecciona los divs directos que están dentro
  de la etiqueta nav
*/
nav > div {
  display: inline-block;
}

nav > #logo {
  float: left;
  margin-top: 5px;
}

nav > #logo > * {
  display: inline-block;
  vertical-align: middle;
}

nav > #logo > h1 {
  font-size: 35px;
  margin: 0;
  color: #1b6456;
  margin-left: 10px;
  font-family: 'Fira Sans', sans-serif;
}

nav > #menu > ul  {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

nav > #menu > ul > li {
  display: inline-block;
  margin-left: 30px;
  font-size: 16px;
  color: #1b6456;
  font-weight: 600;
}

nav > #sign-in {
  float: right;
  margin-top: 12px;
}

nav > #sign-in > a {
  color: #67b54b;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

nav > #sign-in button {
  font-size: 16px;
  color: white;
  background-color: #67b54b;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-weight: 600;
  margin-left: 10px;
  font-family: 'Roboto Slab', serif;
}