/*
  Sintaxis:

  selector {
    propiedad: valor;
    propiedad1: valor1;
    .
    .
    .
    .
    .
  }

  Afecta a todas las etiquetas con ese nombre
  etiqueta {
    ...
  }

  Afecta a todas las etiquetas nombradas en el selector
  etiqueta1, etiqueta2, etiqueta3, ..., etiquetaN {
    ..
  }
*/

.centrado {
  text-align: center;
}

.derecha {
  text-align: right;
}